<link
  href="https://fonts.googleapis.com/css?family=Arvo&display=swap"
  rel="stylesheet"
/>

<nav role="navigation" class="primary-navigation">
  <header>
    <h1>Songs <span>Library</span></h1>
  </header>
  <ul>
    <li><a [routerLink]="['/list']">Songs List</a></li>
    <li><a id="right" [routerLink]="['/add']">Add a new Song</a></li>
  </ul>
</nav>
<div class="content">
  <h3>Listening is everything</h3>
  <h5 STYLE="padding-top: 10px">Songs Library is a digital music service that gives you the oppertunity to make your own playlist without adds</h5>
  <h6 STYLE="padding-top: 30px">In collaboration with Spotify</h6>
</div>
<router-outlet></router-outlet>
